@page "/todo/edit/{todoId:int}"
@using Microsoft.EntityFrameworkCore

<h3>Edit Todo Item</h3>

<EditForm Model="@editTodo" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="description">Description:</label>
        <InputText id="description" class="form-control" @bind-Value="editTodo.Description" />
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <InputCheckbox class="form-check-input" @bind-Value="editTodo.IsCompleted" /> Is Completed
        </label>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</EditForm>

@code {
    private TodoItem editTodo = new TodoItem();

    [Parameter] public int TodoId { get; set; }

    [Inject] public NavigationManager NavigationManager { get; set; }
    [Inject] public IDbContextFactory<TodoDbContext> Factory { get; set; }

    protected override void OnInitialized()
    {
        var db = Factory.CreateDbContext();
        editTodo = db.TodoItems.FirstOrDefault(todo => todo.Id == TodoId);
        if (editTodo == null)
        {
            NavigationManager.NavigateTo("/todo");
        }
    }

    private async Task HandleValidSubmit()
    {
        var db = Factory.CreateDbContext();
        db.TodoItems.Update(editTodo);
        await db.SaveChangesAsync();
        NavigationManager.NavigateTo("/todo");
    }
}
